body {
}
#DW__GLOBAL_NAVBAR {
	z-index: 2000000;
	position: fixed;
	transition: all 200ms ease-in-out;
	top: 0;
}

.dw__navbar {
	width: 100vw;
	z-index: 100000 !important;
}
.dw__global_nav_embed_wrapper {
	transition: all 200ms ease-in-out;
}
