body {
	margin-top: 40px !important;
}
#top-bar > div > div > div.bg-royalpurple,
.page-header__top-text {
	margin-top: -1px;
}

header {
	position: fixed !important;
	top: 120px !important;
}

@media screen and (max-width: 1220px) {
	header {
		position: sticky;
		top: 0px !important;
	}
	body {
		margin-top: 60px !important;
	}
}

#DW__GLOBAL_NAVBAR {
	z-index: 2000000;
	position: fixed;
	transition: all 200ms ease-in-out;
	top: 0;
}

.dw__navbar {
	width: 100vw;
	z-index: 100000 !important;
	box-shadow: 3px 3px 32px -4px rgba(10, 0, 51, 0.2);
}
.dw__global_nav_embed_wrapper {
	transition: all 200ms ease-in-out;
}

@font-face {
	font-family: "Herbit";
	font-weight: 300 800;
	font-style: normal;
	font-stretch: normal;
	src: url("./fonts/herbit-semibold.woff2") format("woff2");
}
